.main{
        display: flex;
        justify-content: space-between;
        background-color: aliceblue;
        height: fit-content;
    }

.form-table{
    background-color: #e5dfc4;
}
.name-section{
    display: flex;
	
}
.fname{
	margin-right: 10px;
}
.kg{
	margin-right: 10px;
}
.lname{
	float: left;
}
.cm{float: left;}

.weight-section{
    display: flex;
}
.register-section{
width: 500px; height: 30px; background-color: aqua;    
}
.second-line{
    display: flex;
}
.sex{margin-right: 10px;}
.Dob{float: left;
size: 60px;}